.container {
    text-align: center;
    margin: auto;
}

mat-progress-spinner {
    margin: auto;
    margin-top: 5rem;
}

.login-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}