

<div class="container">
    <mat-card class="home" >
        <mat-card-header>
            <h1>Home Page</h1>
        </mat-card-header>
        <img mat-card-xl-image src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/256x256/plant.png" alt="plant icon">
        <mat-card-content>
            <p>
                Welcome to Bud Buddy.
            </p>
            <p>Let me help you take care of your plants</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink='/explore'>Explore Plants</button>
        </mat-card-actions>
    </mat-card>
</div>