<div class="container">
  <div *ngIf="currentPlant; else plantList">
      <h1>you selected plant with id {{ currentPlant.id }}</h1>
      <button mat-raised-button color='primary' (click)="setCurrentPlant('')">Back to My Plants</button>
    <app-plant-info>
    </app-plant-info>
  </div>
  <ng-template #plantList>
    <h1>My Plants Page</h1>
    <div>
      <mat-card
        *ngFor="let plant of plants"
        routerLink="{{ plant.id }}"
        (click)="setCurrentPlant(plant.id)"
      >
        <mat-card-title-group>
          <mat-card-title>{{ plant.name | titlecase }}</mat-card-title>
          <img mat-card-md-image src="{{ plant.picture }}" />
        </mat-card-title-group>
        <mat-card-content> Plant info here </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</div>